<section class="main">
    <div class="container">
        <div class="main-menu">
            <nav class="menu">
                <ul>
                    <li>
                        <a routerLink="/home">Home</a>
                    </li>
                    <li>
                        <a routerLink="/inventory">Inventory</a>
                    </li>
                    <li *ngIf="isLogIn">
                        <a routerLink="/reports">Reports</a>
                    </li>
                    <li *ngIf="isLogIn">
                        <a routerLink="/billing">Billing</a>
                    </li>
                    <li *ngIf="isLogIn">
                        <a routerLink="/profile">Profile</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
